﻿a{
    color: #000;
    text-decoration: none;
    padding: 8px;
    letter-spacing: 2px;
}

p{
    line-height: 150%;
} 

h3{
    font-size: 25px;
    margin: 0;
    font-weight: normal;
}

.navBar button{
    padding: 8px;
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navBar button:hover{
    background-color: #ccc;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 32px 0;
    box-shadow: -3px 0 3px rgba(255, 255, 255, 1), 3px 0 3px rgba(255, 255, 255, 1), 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 3px 3px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}


#projects{
    margin-right: 8px;
}

#about{
    margin-right: 8px;
}

header{
    position: relative;
    padding: 0 84px 0;
}

header > img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.imageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imageText h1{
    display: inline-block;
    font-size: 36px;
    letter-spacing: 2px;
}
#edts{
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 16px 18px;
    line-height: 100%;
}
#architects{
    font-weight: lighter;
    color: white;
}

.container{
    padding: 0 84px;
}

.container h3{
    margin: 68px 0 16px;
}

.projectContainer{
    display: grid;
    max-width: 1564px;
    grid-template-columns: repeat(4, auto );
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    margin-top: 42px;
}

.project{
    position: relative;
    width: auto;
    height: auto;
}

.project > div{
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
    background-color: #000;
    color: white;
}

.project > img{
    max-width: 362px;
    width: 100%;
    height: auto;
    max-height: 242px;
    object-fit: contain;
}

.founderProfiles{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row: auto;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
}

.founderProfile{
    max-width: 362px;
    width: auto;
    height: auto;
}

.founderProfile > img{
    max-width: 362px;
    width: 100%;
    height: auto;
    max-height: 242px;
    object-fit: contain;
}

.founderProfile > h3{
    margin: 16px 0 20px;
}

.founderProfile > button{
    border-style: none;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.founderProfile > button:hover{
    background-color: #ccc;
}

.job{
    color: darkgrey;
    margin-bottom: 20px;
}

.founderDescription{
    margin-bottom: 16px;
}

form{
    margin-bottom: 42px;
}

.inputForm{
    display: block;
    width: 100%;
    margin-bottom: 16px;
    height: 40px;
    padding-left: 8px;
}

.inputForm:nth-child(4){
    margin-bottom: 28px;
}

.buttonForm{
    height: 40px;
    padding: 0 16px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonForm:hover{
    background-color: #ccc;
    color: initial;
}

.map > img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td:nth-child(1), td:nth-child(2), th:nth-child(1), th:nth-child(2){
    border-right: transparent;
}

tr:nth-child(even) {
    background-color: #F1F1F1;
  }

td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) {
    border-left: transparent;
}

footer{
    background-color: #000;
    height: 84px;
    margin-top: 40px;
}
footer > p{
    text-align: center;
    line-height: 84px;
    color: #ccc;
    margin: 0;
}


@media only screen and (max-width: 980px) {
    .projectContainer{
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto auto;
    }

    .founderProfiles{
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto auto;
    }
    .imageText h1{
        font-size: 25px;
    }

}

@media only screen and (max-width: 600px) {
    * {
      font-size: 10px;
    }

    .navBar{
        padding: 0 20px 0;
        height: 40px;
    }

    .navBar_menu{
        display: none;
    }

    header{
        padding: 0 20px 0;
    }
    #architects{
        display: none;
    }
    #edts{
        font-size: 25px;
        padding: 12px;
    }

    h3{
        font-size: 14px;
    }

    .container{
        padding: 0 20px 0;
    }

    .container h3{
        margin: 48px 0 12px;
    }

    .projectContainer{
        grid-template-rows: repeat(8, auto);
        grid-template-columns: auto;
        justify-content: center;
        margin-top: 28px;
        gap: 12px;
    }

    .project div{
        padding: 12px;
    }

    .founderProfiles{
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        margin-top: 32px;
        gap: 20px;
    }

    .founderProfile > h3 {
        margin: 12px 0 16px;
    }

    .job{
        margin-bottom: 16px;
    }

    .founderDescription {
        margin-bottom: 8px;
    }

    .founderProfile > button {
        height: 28px;
    }

    .inputForm{
        margin-bottom: 12px;
    }

    .inputForm:nth-child(4){
        margin-bottom: 20px;
    }

    footer{
        height: 60px;
        margin-top: 28px;
    }

    footer > p {
        line-height: 60px;
    }


 }